extends /_include/_layout.pug

block title
  title さつま桑青汁 | Wakuwakuen
block header
  - var title = 'lp01'
  include /_include/_header.pug
block content
  section.l-lp
    img(src="/assets/img/lp01_01.jpg", alt="")
    img(src="/assets/img/lp01_02.jpg", alt="")
    img(src="/assets/img/lp01_03.jpg", alt="")