extends /_include/_layout.pug

block title
  title さつま桑青汁 | Wakuwakuen
block header
  - var title = 'lp01'
  include /_include/_header.pug
block content
  section.l-lp
    img(src="/assets/img/lp01_01.jpg", alt="")
    img(src="/assets/img/lp01_02.jpg", alt="")
    img(src="/assets/img/lp01_03.jpg", alt="")
    img(src="/assets/img/lp01_04.jpg", alt="")
    img(src="/assets/img/lp01_05.jpg", alt="")
    img(src="/assets/img/lp01_06.jpg", alt="")
    img(src="/assets/img/lp01_07.jpg", alt="")
  
  // 各LPの購入ボタンと特商法のリンクの間に記載用、content.css
  br
  .afterService
    .afterService__custom
      h3.afterService__title 客服中心
      ul.afterService__custom-list
        li.afterService__custom-item 本產品由株式会社日本わくわく園製造販售
        li.afterService__custom-item 若有任何疑問，歡迎來信詢問 → 
          span order@wakuwakuen.com
        li.afterService__custom-item 來信時，請隨信附上以下資料，方便客服與您聯繫
          br
          p
            span 1. 
            | 訂購姓名<br class="only-sp">
            span 2. 
            | 訂購者電話<br class="only-sp">
            span 3. 
            | 欲諮詢商品名<br class="only-sp">

    .afterService__return
      h3.afterService__title 關於退貨
      p 若收到商品後，覺得商品不符合期待欲辦理退貨時，
        br.only-pc
        | 請在到貨後七天內來信或來電至「跨境退貨中心」。

      h4.afterService__subTitle 【退貨注意事項】
      ul
        li 退貨商品必須是全新狀態且包裝完整未經使用拆封。
        li 簽收隔日算起七天內，可申請退貨。
        li 退貨運費全由顧客負擔，敬請見諒。
        li 若您因商品瑕疵而申請退貨時，請先將商品瑕疵部分，
          br.only-pc
          p 拍照或拍攝影片至「跨境退貨中心」，後續客服人員會與您聯繫退貨事宜。

      h4.afterService__subTitle 【跨境退貨中心聯繫方式】
      ul
        li 退貨專用服務信箱 : return_service@afterpay.com.tw
        li 退貨諮詢專線 : 0800-000-902
        li 退貨地址為國內 : 接到您的聯絡後將會通知您確切的退貨地址
    
    .afterService__notice
      span.afterService__noticeTitle 提醒您
      p ※開封或使用過後的商品，無法申請退貨。
      p ※欲辦理退貨，商品包裹不論是否為訂購者本人簽收或他人代為簽收，
      p 請務必於簽收完畢後隔天算起七天內連繫「跨境退貨中心」，逾時則不受理。
