extends /_include/_layout.pug

block title
  title さつま桑青汁 | Wakuwakuen
block header
  - var title = 'lp01'
  include /_include/_header.pug
block content
  section.l-lp
    img(src="/assets/img/lp01_01.jpg", alt="")
    img(src="/assets/img/lp01_02.jpg", alt="")
    img(src="/assets/img/lp01_03.jpg", alt="")
    img(src="/assets/img/lp01_04.jpg", alt="")
    img(src="/assets/img/lp01_05.jpg", alt="")
    img(src="/assets/img/lp01_06.jpg", alt="")
    img(src="/assets/img/lp01_07.jpg", alt="")
  
  // 各LPの購入ボタンと特商法のリンクの間に記載用、content.css
  br
  .afterService
    p 【客服中心】
      br
      | 本產品由株式会社日本わくわく園製造販售
      br
      | 若有任何疑問，歡迎來信詢問。
      br
      | order@wakuwakuen.com
      br
      br
      | 來信時，請隨信附上以下資料，方便客服與您聯繫
      br
      |「1.訂購姓名 2.訂購者電話 3.欲諮詢商品名」
    br
    p 【退貨注意事項]
      br
      | 關於退貨
      br
      | 若收到商品後，覺得商品不符合期待欲辦理退貨時，
      br
      | 請在到貨後七天內來信或來電至「跨境退貨中心」。
      br
      | ▶退貨須知
      br
      | ・退貨商品必須是全新狀態且包裝完整未經使用拆封。
      br
      | ・簽收隔日算起七天內，可申請退貨。
      br
      | ・退貨運費全由顧客負擔，敬請見諒。
      br
      | ・若您因商品瑕疵而申請退貨時，請先將商品瑕疵部分，
      br
      | 拍照或拍攝影片至「跨境退貨中心」，後續客服人員會與您聯繫退貨事宜。
      br
      | ▶「跨境退貨中心」聯繫方式
      br
      | -退貨專用服務信箱:return_service@afterpay.com.tw
      br
      | -退貨諮詢專線:0800-000-902
      br
      | -退貨地址為國內
      br
      | -接到您的聯絡後將會通知您確切的退貨地址
      br
      | ※提醒您
      br
      | ・開封或使用過後的商品，無法申請退貨。
      br
      | ・欲辦理退貨，商品包裹不論是否為訂購者本人簽收或他人代為簽收，
      br
      | 請務必於簽收完畢後隔天算起七天內連繫「跨境退貨中心」，逾時則不受理。
