{# Reference: https://launchcart.jp/reference/2-%e3%82%a4%e3%83%b3%e3%83%87%e3%83%83%e3%82%af%e3%82%b9%e3%83%86%e3%83%b3%e3%83%97%e3%83%ac%e3%83%bc%e3%83%88/ #}

{# Variables Settings #}

{# initialize language from url paramater; example) example.com?lang=<language id> #}
{% set set_lang = app.request.get('lang') %}
{% if set_lang %}
{{ init_language(set_lang) }}
{% endif %}

{# insert to html head title #}
{% set title = "top" %}

{# get base currency unit #}
{%- set baseCurrency = get_entity_manager().find('EcCoreBundle:Currency', system_config('base_currency')) -%}
{%- set baseUnitFront = baseCurrency.getBeforeUnit() -%}
{%- set baseUnitBack = baseCurrency.getAfterUnit() -%}

{# load current date #}
{% set now = "now"|date("Y-m-d H:i:s") %}

{# end Variables Setting #}

{% TemplateInclude "header" %}

{# Contents #}

{# Mainvisual #}
<ul class="mainvisual">
{% TemplateInclude "mainvisual" %}
</ul>
{# end Mainvisual #}

<section class="l-products">
  <h2 class="l-products__title">Products</h2>
  <div class="l-products__list">
    <figure> <a href="/aojiru"><img class="product-img" src="{{ asset("assets/img/pic_product01.png") }}" alt="青汁"/></a>
      <h3 class="product-title">薩摩桑葉青汁</h3>
      <a href="/aojiru"><button class="product-btn">前往訂購</button></a>
    </figure>
    <figure> <a href="/kuwacha"><img class="product-img" src="{{ asset("assets/img/pic_product02.png") }}" alt="茶"/></a>
      <h3 class="product-title">薩摩桑葉茶</h3>
      <a href="/kuwacha"><button class="product-btn">前往訂購</button></a>
    </figure>
  </div>
</section>
<section class="l-about">
  <h3 class="l-about__title">About Wakuwakuen</h3>
  <video id="video" muted="muted" width="100%">
    <source src="/assets/img/wakuwakuen_pr_light.mp4" type="video/mp4"/>
  </video>
  <div id="video-btn"></div>
</section>

{# end Contents #}

{% TemplateInclude "footer" %}