.archiveControl,
.pankuzu,
#main > article > div,
#main > form > article > div,
#main > article > section {
	margin-left: 0.98%;
	margin-right: 0.98%;
}
.pankuzu,
#main > article {
	margin-bottom: 2%;
}
.pankuzu:not(:first-child) {
	margin-top: -2%;
}


/******************
�朖���𤏪膚蝜嘥ㄨ嚙賜鳩嚚�
******************/

.archiveControl {
	overflow: hidden;
	clear: both;
	margin-bottom: 2%;
}
.displayArea {
	margin-bottom: 2%;
	overflow: hidden;
}
.displayDesc {
	float: left;
}
.displayDesc span {
	font-size: 1.5em;
}
.displayVol {
	float: right;
}
.displayVol select {
	margin-left: 5px;
}


/******************
�银嚚喲�𧶏蔑蝜嘥ㄨ嚙賜鳩嚚�
******************/

.photoArea {
	width: 48%;
	float: left;
	margin: 0 4% 4% 0;
}
.photoArea figure {
	width: 100%;
	line-height: 0;
	margin-bottom: 2%;
}
.photoArea figure img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.photoArea ul {
	background-color: #eee;
	overflow: hidden;
	clear: both;
}
.photoArea ul li {
	width: 25%;
	padding: 1%;
	float: left;
	line-height: 0;
	cursor: pointer;
}
.photoArea ul li img {
	max-width: 100%;
	height: auto;
	border: 1px solid #ccc;
}

.itemInfo {
	width: 48%;
	float: right;
}
.itemInfo .lead {
	margin-bottom: 3%;
	font-size: 1.166em;
}
.itemExplain {
	margin-bottom: 3%;
}
.itemPrice {
	margin-bottom: 3%;
	padding: 2% 0;
	text-align: right;
	font-size: 1.5em;
}
.itemPrice:not(:first-child) {
	display: none;
}
.itemPrice strong {
	font-size: 1.6em;
}
.itemPrice .noStock {
	display: inline-block;
	margin-right: 10px;
	color: red;
	font-size: 0.84em;
}
.descriptionsSection {
	margin-bottom: 8%;
}
.descriptionsSection h3 {
	font-size: 1.17em;
}

/*
��㚁蝦���膝蝜脲�𨳍�∠�嘅蔔�㚹嚚函鳩嚙�
*/

.cartArea,
.optionsSection {
	background-color: #eee;
	padding: 3%;
	margin-bottom: 3%;
}
.itemSkuSelect {
	margin-bottom: 3%;
	font-size: 1.166em;
}
.itemSkuSelect li {
	margin-bottom: 2%;
}
.itemSkuSelect li:last-child {
	margin-bottom: 0;
}
.handleBuyArea {
	background-color: #fff;
	padding: 3%;
	margin-bottom: 3%;
}
.handleBuyArea .disabledLabel .disabled {
	color: #ff3300;
}
.handleBuyArea input[type="radio"] {
	margin-right: 5px;
}
.handleBuyArea input[type="radio"][disabled] {
	visibility: hidden;
}
.selectQuantity {
	font-size: 1.166em;
}
.selectQuantity:not(:first-child) {
	margin-top: 10px;
}
.selectQuantity select {
	vertical-align: top;
	margin-left: 5px;
	min-width: 50px;
}
.btnCartIn,
.btnFavorite {
	display: block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 1.5em;
	line-height: 50px;
	position: relative;
	color: #fff;
	padding: 5px 0;
	margin-top: 3%;
}
.btnCartIn {
	width: 70%;
	margin: 3% auto 0;
	background-color: #4CAF50;
	background-image: linear-gradient(to bottom, #11d119, #339435);
	background-image: -moz-linear-gradient(top, #11d119, #339435);
	background-image: -webkit-gradient(linear, left top, left bottom, 	color-stop(0.00, #11d119), color-stop(1.0, #339435));
	border: 1px solid #357d38;
	border-color: #357d38 #357d38 #2a632d;
	box-shadow: 0px 0px 1px #ffffff inset;
	border-radius: 5px;
}

.btnCartIn:hover {
	opacity: 0.9;
}
.btnCartIn:active {
	background-image: linear-gradient(to bottom, #ff8c00,#ffd700 );
	background-image: -moz-linear-gradient(top, #ff8c00,#ffd700 );
	background-image: -webkit-gradient(linear, left top, left bottom, 	color-stop(0.00,#ff8c00), color-stop(1.0, #ffd700));
}
.btnCartIn:disabled  {
	background-color: #999;
	background-image: none;
}
.btnCartIn:disabled i {
	display: none;
}
.btnCartIn i,
.btnFavorite i {
	/*vertical-align: middle;*/
	margin-right: 10px;
}
.btnCartIn .fa-2x {
    font-size: 1.2em;
}
.btnFavorite {
	background-color: #F06292;
}
.btnCartIn:hover,
.btnFavorite:hover {
	text-decoration: none;
}

.itemInfo .skuArea {
	margin-bottom: 2%;
	font-size: 1.17em;
}
.itemInfo .skuArea dl {
	margin-bottom: 2%;
}
.itemInfo .skuArea dl dt {
	font-weight: bold;
}
.itemInfo .skuArea dl dt span {
	font-weight: normal;
}
.itemInfo .skuArea dl dd {

}
.itemInfo .skuArea dl dd ul::after {
	content: "";
	display: block;
	clear: both;
}
.itemInfo .skuArea dl dd ul li {
	margin: 0 5px 5px 0;
	float: left;
}
.itemInfo .skuArea dl dd label {
	display: block;
	cursor: pointer;
	position: relative;
	border: solid 1px #ccc;
    border-radius: 2px;
}
.itemInfo .skuArea dl dd .skuSizes label {
	min-width: 70px;
	padding: 5px;
}
.itemInfo .skuArea dl dd .skuSizes .disabled label {
	background: #eee;
}
.itemInfo .skuArea dl dd .skuSizes input {
	margin-right: 5px;
}
.itemInfo .skuArea dl dd .skuSizes input[disabled] {
	visibility: hidden;
}
.itemInfo .skuArea dl dd .skuColors label {
	width: 55px;
	height: 45px;
}
.itemInfo .skuArea dl dd .skuColors .black label {
	background: #000;
}
.itemInfo .skuArea dl dd .skuColors .gray label {
	background: #ddd;
}
.itemInfo .skuArea dl dd .skuColors .white label {
	background: #fff;
}
.itemInfo .skuArea dl dd .skuColors .brown label {
	background: #745630;
}
.itemInfo .skuArea dl dd .skuColors .beige label {
	background: #e5d5b4;
}
.itemInfo .skuArea dl dd .skuColors .red label {
	background: #db2c22;
}
.itemInfo .skuArea dl dd .skuColors .orange label {
	background: #ea9e1a;
}
.itemInfo .skuArea dl dd .skuColors .navy label {
	background: #193282;
}
.itemInfo .skuArea dl dd .skuColors .blue label {
	background: #1a50ea;
}
.itemInfo .skuArea dl dd .skuColors .purple label {
	background: #7c1aea;
}
.itemInfo .skuArea dl dd .skuColors .pink label {
	background: #f68ddc;
}
.itemInfo .skuArea dl dd .skuColors .green label {
	background: #4cac48;
}
.itemInfo .skuArea dl dd .skuColors .skyblue label {
	background: #77c8f7;
}
.itemInfo .skuArea dl dd .skuColors label input,
.itemInfo .skuArea dl dd .skuColors label .title {
	opacity: 0.01;
	position: absolute;
	left: 0;
	top: 0;
}
.itemInfo .skuArea dl dd .skuColors label input + i {
	display: none;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
	color: #1e90ff;
	font-size: 16px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff,
		1px -1px 1px #fff,
		-1px -1px 1px #fff,
		-1px 1px 1px #fff,
		1px 0px 1px #fff,
		0px 1px 1px #fff,
		-1px 0px 1px #fff,
		0px -1px 1px #fff;
	position: absolute;
	top: 50%;
	left: 50%;
}
.itemInfo .skuArea dl dd .skuColors label input:checked + i {
	display: block;
}
.itemInfo .skuArea dl dd .skuColors .disabled {
	opacity: 0.5;
}

/*
蝜改蔽蝜嘥��嗵�嘅膚蝜嘅蔔蝮綽蝙蝮箸�矋�䂿蛹嚚迎蕭嚙�
*/

.itemTypeSelect li {
	border-top: 1px solid #ccc;
	padding: 0 0 0 5px;
	font-size: 1.167em;
}
.itemTypeSelect li input[type=radio] {
	margin-right: 10px;
}
.itemTypeSelect li label{
	display: table;
	width: 100%;
	cursor: pointer;
}
.itemTypeSelect li div {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	padding: 10px 0;
}
.itemTypeSelect li:last-child div {
	padding: 10px 0 0 0;
}
.itemTypeSelect li div.price {
	text-align: right;
	font-size: 0.857em;
}
.itemTypeSelect li div.price span {
	font-size: 2em;
}

/*
��劐�𨅯���𩤃蕭��
*/

.optionContent > section {
	margin-bottom: 2%;
	background-color: #eee;
	padding: 2%;
}
.optionContent > section:last-child {
	margin-bottom: 0;
}

.optionContent h3 {
	font-size: 1.3333em;
	margin-bottom: 2%;
	background-color: #999;
	padding: 1%;
	color: #fff;
}
.optionContent ul {
	margin-left: 1em;
}
.optionContent ul li {
	margin-bottom: 2%;
	overflow: hidden;
	clear: both;
}
.optionContent ul li:last-child {
	margin-bottom: 0;
}
.optionContent ul li figure {
	float: right;
	width: 200px;
	overflow: hidden;
	height: auto;
}
.optionContent ul li figure img {
	width: 100%;
	height: auto;
}
.optionDetail {
	margin-right: 220px;
}
.imgNone .optionDetail {
	margin-right: 0;
}
.optionDetail h4 {
	font-size: 1.333em;
	margin-bottom: 1%;
}
.optionDetail input {
	margin-right: 1em;
}
.optionDetail p {
	margin-left: 2em;
}
.optionDetail .price {
	margin-bottom: 1%;
}
.optionDetail .price span {
	font-size: 1.5em;
	font-weight: bold;
}

.optionsSection h3 {
	margin-bottom: 2%;
	font-size: 1.17em;
}
.optionsSection h3 i {
	margin-right: 5px;
}
.optionsSection ul li {
	margin-bottom: 2%;
	border: solid 1px #ccc;
    border-radius: 2px;
}
.optionsSection ul li:last-child {
	margin-bottom: 0;
}
.optionsSection ul li label {
	display: block;
	padding: 2%;
	cursor: pointer;
}
.optionsSection ul li h4 {
	font-size: 1.17em;
	font-weight: bold;
}
.optionsSection ul li h4 .price {
	font-size: 0.84em;
	float: right;
}
.optionsSection ul li h4 .price .num {
	font-size: 1.33em;
}
.optionsSection ul li input {
	margin-right: 5px;
}

/*蝜嘅蓮蝜肽�䘆㛖�嘅蝦蝜改膘蝜嘅蔽蝜改耦*/

.reviewArea > div{
	font-size: 1.166em;
}

.reviewContent ul {
	margin-bottom: 2%;
}
.reviewContent li {
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	padding: 2%;
	margin-bottom: 2%;
}
.reviewContent li:last-child {
	margin-bottom: 0;
}
.reviewContent li:after {
	clear: both;
	content:"";
    display:table;
}
.rateArea {
	float: left;
	width: 20%;
}
.rateArea .starbox{
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.rateArea p {
	font-size: 0.857em;
}
.rateText {
	margin-left: 25%;
}
.rateText h3 {
	margin-bottom: 1%;
}
.reviewWriteForm dl{
	width: 80%;
	margin: 0 auto;
	border: 1px solid #ddd;
	padding: 2%;
}
.reviewWriteForm dt {
	float: left;
	clear: left;
	padding: 2% 0;
}
.reviewWriteForm dd {
	padding: 2% 0 2% 10em;
	border-top: 1px dotted #ccc;
}
.reviewWriteForm dd:last-child{
	border-bottom: 1px dotted #ccc;
}
.reviewWriteForm dd input[type=text],
.reviewWriteForm dd textarea{
	width: 100%;
	padding: 1%;
}
.recommendArea .itemList li {
	width: 20%;
}
.reviewAverage strong {
	font-size: 1.333em;
}
.reviewAverage .starbox {
	margin-bottom: 3%;
}
.deliveryContent h3 {
	margin-bottom: 1%;
	font-size: 1.166em;
}
.deliveryContent table {
	margin-bottom: 1.5%;
}

/* 蝜嘥ㄨ嚙賜鳩嚚� */
.pageContent {
  margin-top: 60px;
}
.pageContent h3 {
	margin-bottom: 1%;
	font-size: 1.333em;
}
.pageContent h3 small {
	font-weight: normal;
	font-size: 0.83em;
}
.pageContent .mainImage {
	margin-bottom: 4%;
	text-align: center;
}
.pageContent .mainImage img {
	max-width: 100%;
}
.pageContent .pageBody {
	min-height: 240px;
	font-size: 1.17em;
	line-height: 2;
}
.pageContent table {
	width: 100%;
}
.pageContent table th,
.pageContent table td {
    padding: 1%;
    border-bottom: 1px solid #ccc;
}
.pageContent table tr:first-child td {
    border-top: 1px solid #ccc;
}
.pageContent table tr:first-child th {
    border-top: 1px solid #ccc;
}
.pageContent table th{
    background-color: #ddd;
}


/*
蝜肽�𢛵�讠�嘅蝦蝜嘅蕭
*/
#main #landing h2 {
	/*background-image: linear-gradient(to bottom, #eaf5f6, #d1e8eb);*/
	/*background-image: -moz-linear-gradient(top, #eaf5f6, #d1e8eb);*/
	/*background-image: -webkit-gradient(linear, left top, left bottom, 	color-stop(0.00, #eaf5f6), color-stop(1.0, #d1e8eb));*/
	/*border: 1px solid #d2691e;*/
	/*box-shadow: 0px 0px 1px #ffffff inset;*/
	background-color: #ffd700;
	text-align: center;
}

.itemName {
	font-size: 24px;
	color: #fff;
	text-align: center;
	background-color: #e30174;
	font-family: "鞎�嚚貉�誩�𡝗���螱嚙�", "Yu Mincho","鞎�嚚貉�誩�𡝗��", "YuMincho", serif;
	padding: 8px 0;
	margin-bottom: 2%;
}

.itemWrap .descriptionsSection{
	margin-bottom: 3%;
	float: right;
	width: 48%;
}
.itemWrap .descriptionsSection h3 {
	font-size: 16px;
	margin-bottom: 2%;
}
.pageContent .payForm {
	margin-bottom: 4%;
}
.pageContent .payForm h3 {
	background-color: #ea9e1a;
	color: #fff;
	padding: 8px 15px 8px;
}
.pageContent .payForm table th,
.pageContent .payForm table td {
	padding: 1% 2%;
	font-size: 12px;
	font-weight: normal;
}
.pageContent .payForm table th span.important,
.pageContent .payForm table td span.important{
	color: #f00;
}
.pageContent .payForm table th {
	width: 30%;
	background-color: #fffaf0;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	border-bottom: 1px solid #ccc;
	vertical-align: middle;
	text-align: center;
}
.pageContent .payForm table th .required {
	color: #f00;
	/*display: block;*/
	/*float: right;*/
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	/*background-color: #e50074;*/
	padding: 0 5px;
	margin-left: 5px;
	font-size: 10px;
	border: 1px solid #f00;
}

.pageContent .payForm table td {
	border-bottom: 1px solid #ccc;
	text-align: left;
}

.pageContent .payForm input {
	padding: 10px;
	border: 1px solid #ffd700;
	border-top: 2px solid #b8860b;
	border-left: 2px solid #b8860b;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	outline: none;
}
.pageContent .payForm input,
.pageContent .payForm select {
	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.pageContent .payForm table {
	background-color: #fff;
	line-height: 1.2;
}
.pageContent .payForm input:focus {
	border-top: 2px solid #930;
	border-left: 2px solid #930;
	border-right: 1px solid #fc0;
	border-bottom: 1px solid #fc0;
	background-color: #ffc;
}
.pageContent .payForm input:placeholder-shown {
	line-height: 110%;
}
.pageContent .payForm input::-moz-placeholder {
	line-height: 110%;
}
.pageContent .payForm input:-ms-input-placeholder {
	line-height: 110%;
}

.pageContent .payForm select {
	height: 35px;
	background-color: #fff;
	border: 1px solid #ffd700;
	border-top: 2px solid #b8860b;
	border-left: 2px solid #b8860b;
	border-radius: 5px 0 0 5px;
	padding: 0 10px;
	min-width: 100px;
  max-width: 100%;
}

.pageContent .payForm .formParts.required select {
	background-color: #ffd700;
}
.pageContent .payForm select {
	background-color: #fff;
}
.pageContent .payForm .productName {
	background-color: #ffeff0;
}
.pageContent .payForm .noBlock th,
.pageContent .payForm .noBlock td{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
}
.pageContent .payForm .noBlock th {
	padding: 1%;
	font-size: 14px;
}
.pageContent .payForm .noBlock th:last-child,
.pageContent .payForm .noBlock td:last-child {
	border-right: none;
}
.pageContent .payForm .error {
	color: #e50074;
	display: block;
	font-weight: bold;
}
.formParts {
	position: relative;
	vertical-align: middle;
	display: inline-block;
}
.checkZen {
	display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  height: 36px;
  margin: 0 5px;
}
.formParts .err {
	padding: 0 0 0 10px;
	color: #f00;
	position: absolute;
	display: block;
	right: -40%;
	bottom: 35%;
	/*width: auto;
	white-space: nowrap;
	background-color: #e50074;
	font-size: 12px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	z-index: 100;
	opacity: 0.9;
	display: none;*/
}
/*.formParts .err:after {
	content: "";
	display: block;
	position: absolute;
	opacity: 0.9;
	border-top: 8px solid #e50074;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	top: 100%;
	left: 10px;
	width: 0;
	height: 0;
}*/
.formParts input {
	background-color: #fff;
}
.formParts.required input {
	background-color: #ffd700;
}
.formParts select {
	outline: none;
}
.formParts input.yubin {
	width: 130px;
}
.blockUIcontent {
  padding: 20px;
}
.blockUIcontent p {
  margin-bottom: 10px;
  font-size: 14px;

}
.guidance {
	font-size: 18px;
	margin-bottom: 2%;
	letter-spacing: 1px;
	text-align: center;
}
.linkPrivacy {
	text-align: center;
	margin-top: 10px;
}
.linkPrivacy a{
	text-decoration: underline;
}

.bgModal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 1000;
}
.bgModal:before
{
		content: "";
		display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    border-right-color: transparent;
    animation: spin 1s linear infinite;
}
@keyframes spin
{
    0% { transform: rotate(0deg); opacity: 0.2; }
    50%  { transform: rotate(180deg); opacity: 1.0; }
    100%   { transform: rotate(360deg); opacity: 0.2; }
}

/* 蝜嘥��𤤿鳩嚚斤�肽�䎚�嗵�嘅蝦蝜脲狍�𦦵鳩嚚瑞�嘅蝦 */
.pagePrivacy section{
	margin-bottom: 3%;
}
.pagePrivacy section h3 {
	border-bottom: 2px dotted #ea9e1a;
}
.pagePrivacy section div {
	line-height: 160%;
}
.pagePrivacy section div p {
	margin-bottom: 10px;
}
/*jstarbox�𤏪膘css蝮箄�辷�蝮箔�嘅��*/

.positioner {
	position: relative;
	display: inline-block;
	line-height: 0;
}

.starbox {
	cursor: pointer;
}
.starbox.unchangeable
{
	cursor: default;
}
.starbox .colorbar,
.starbox .ghost {
	z-index: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
.starbox .stars {
	display: inline-block;
}

.starbox .stars .star_holder {
	position: relative;
	z-index: 1;
}

.starbox .stars .star_holder .star {
	display: inline-block;
	vertical-align: baseline;
	background-repeat: no-repeat;
}

.starbox .stars .star_holder .star {
	background-image: url('../images/5-large.png');
	width: 33px;
	height: 33px;
}
.starbox.small .stars .star_holder .star {
  width: 17px;
  height: 17px;
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
}

.starbox .stars { background: #cccccc; }
.starbox .rated .stars { background: #dcdcdc; }
.starbox .rated.hover .stars { background: #cccccc; }
.starbox .colorbar { background: #ffcc1c; }
.starbox .hover .colorbar { background: #1e90ff; }
.starbox .rated .colorbar { background: #ffd851; }
.starbox .rated.hover .colorbar { background: #1e90ff; }
.starbox .rated.hover:active .colorbar { background: #ffd851; }
.starbox .ghost { background: #a1a1a1; }

/*jstarbox�𤏪膘css蝮箄�辷�蝮綽蝨蝮綽膚*/

/* 蝜嘥ㄨ嚙賜鳩嚚貊�嘅膛 */
.pager {
    padding: 25px 0;
    margin: 0 -5px;
    text-align: center;
}
.pager a,
.pager strong {
    box-sizing: border-box;
    display: inline-block;
    min-width: 32px;
    height: auto !important;
    padding: 0 5px;
    margin: 5px;
    border: solid 1px #ea9e1a;
    background: #ea9e1a;
    color: #fff;
    line-height: 32px;
    text-align: center;
}
.pager strong {
    background: #fff;
    color: #999;
    font-weight: bold;
}
.payForm.calender.datepicker-trigger {
    width: 24px;
    height: 24px;
    padding: 0;
    background: none;
    position: absolute;
    top: 2px;
    right: 0px;
}
.payForm.calender.datepicker-trigger img {
    width: 20px;
}
.payForm .spForm01.ui-datepicker-trigger img   {
    width: 24px;
    /* position: relative; */
    position: absolute;
    right: 21px;
    top: 13px;
    padding-left: -20px;
}
.ui-datepicker-trigger{
    width: 29px;
    height: 24px;
    padding: 0;
    background: none;
    position: absolute;
    top: 12px;
    right: 8px;
}
.ui-datepicker-trigger img {
	display: block;
}
.readAgrr{
	font-size: 20px;
    white-space: nowrap;
    padding: 0 30px;
    letter-spacing: 0.7px;
}
hr{
	box-sizing: content-box;
    height: 1px;
    border: none;
    margin: 0;
    width: 100%;
    background: #DCDCDC;

        display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
}
#form #priceTable tr:first-child {
    float: left;
    width: 30%;
}
#form #priceTable tr:first-child th {
    display: block;
    width: 100%;
    border-bottom: 0;
    border-right: 0;
}
#form #priceTable tr:nth-child(2) {
    float: left;
    width: 70%;
}
#form #priceTable tr:nth-child(2) td {
    width: 100%;
    padding: 0 0 0 20px;
    border-top: 1px solid #ccc;
    border-bottom: 0;
    border-right: 0;
}
#form #priceTable tr:nth-child(2) td:last-child {
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

/* 20171002SW餈質��
----------------------------------*/
#contents { padding: 0 0 110px; }
#cart #priceTable th,
#cart #priceTable td { display: block;height: 60px;line-height: 61px;padding: 0;font-size: 14px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-sizing: border-box;-ms-sizing: border-box; }

#cart #priceTable tr { display: block; }
#cart #priceTable tr:first-child { float: left;width: 30%; }
#cart #priceTable tr:nth-child(2) { float: left;width: 70%; }

#cart #priceTable tr:first-child th { display: block;width:100%;border-bottom: 0;border-right: 0; }
#cart #priceTable tr:first-child th:last-child { border-bottom: 1px solid #ccc; }
#cart #priceTable tr:nth-child(2) td { width: 100%;padding: 0 0 0 20px;border-top: 1px solid #ccc;border-bottom: 0;border-right: 0; }
#cart #priceTable tr:nth-child(2) td:last-child { font-size: 14px;border-bottom: 1px solid #ccc; }

.ftb { position: fixed; bottom: 10px; right: 10px; }
.ftb img { width: 110px;}


/* wakuwakuen add */
.afterService {
	font-size: 1.8rem;
	color: #000;
	width: 70%;
	margin: 80px auto;
}

.afterService ul {
	padding-left: 8px;
}

.afterService__custom {
  border-bottom: .6px solid #00761C;
  padding-bottom: 40px;
  margin-bottom: 40px;
  line-height: 3.5rem;
}

.afterService__custom-item:nth-of-type(2) {
  margin-bottom: 25px;
}

.afterService__custom-item:nth-of-type(2) span {
  font-size: 2.5rem;
  color: #00761C;
}

.afterService__custom-item:last-of-type p {
  font-size: 2.5rem;
  line-height: 5rem;
}
.afterService__custom-item:last-of-type span {
  color: #00761C;
}

.afterService__custom-item:last-of-type span:not(:first-of-type) {
  margin-left: 30px;
}

.afterService__custom-item:last-of-type span:first-of-type {
  margin-left: 4px;
}

.afterService__return {
  margin-bottom: 50px;
  line-height: 2.8rem;
  letter-spacing: 0.02em;
}

.afterService__return p {
  padding-left: 8px;
}

.afterService__return li p {
  padding-left: 20px;
}


.afterService__notice {
  border: .6px solid #00761C;
  padding: 20px 40px;
  border-radius: 5px;
  position: relative;
  letter-spacing: 0.02em;
	line-height: 2.8rem;
}

.afterService__noticeTitle {
  color: #00761C;
  position: absolute;
  top: -18px;
  left: 30px;
  background-color: #FFF;
  padding: 0 12px;
  text-shadow: #00761C .3px .3px 0, #00761C -.3px .3px 0, #00761C .3px -.3px 0, #00761C -.3px -.3px 0;
  letter-spacing: normal;
}

.pageContent h3.afterService__title{
  font-size: 2rem;
  width: 105px;
  height: 35px;
  background-color: #00761C;
  color: #FFF;
  text-shadow: #FFF .3px .3px 0, #FFF -.3px .3px 0, #FFF .3px -.3px 0, #FFF -.3px -.3px 0;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 15px;
  letter-spacing: normal;
}

.afterService__subTitle {
  color: #00761C;
  margin-top: 30px;
  margin-bottom: 15px;
} 


.afterService ul > li::before {
  content: '●';
  color: #00761C;
	font-size: 10px;
	vertical-align: top;
	margin-right: 4px;
}

.afterService__notice p:last-of-type {
  padding-left: 20px;
}

@media screen and (max-width: 768px){
	table {
		table-layout: fixed;
	}

	.pageContent .payForm select {
		width: 90%;
	}

	#cart #priceTable tr:first-child th {
		padding-left: 10px;
	}

  .afterService__custom-item:nth-of-type(2) span {
    padding-left: 20px;
  }

  .afterService__custom-item:nth-of-type(2) span {
    padding-left: 5px;
  }

  .afterService__custom-item:last-of-type span:not(:first-of-type) {
    margin-left: 4px;
  }
}

@media screen and (max-width: 425px){
  .afterService {
    width: 90%;
  }

  .afterService__notice {
    padding: 20px;
  }

  .afterService__return li p {
    padding-left: 0;
    display: inline;
  }
  .afterService__notice p:last-of-type {
    padding-left: 0;
  }

}
