extends /_include/_layout.pug

block title
  title 特定商取引法に基づく表記 | Wakuwakuen
block header
  include /_include/_header.pug
block content
  section.l-tokushoho
    table.lawTable(border="1")
      caption 特定商取引法に基づく表記
      tbody
        tr
          th 販売事業者名
          td 株式会社わくわく園
        tr
          th 販売事業者所在地
          td 899-5231鹿児島県姶良市加治木町反土4-15-249
        tr
          th 代表者または運営統括責任者
          td 青木基暢
        tr
          th 代表者または運営統括責任者（フリガナ）
          td アオキモトノブ
        tr
          th 連絡先／ホームページ
          td 
            a(href="http://wakuwakuen.co.jp") http://wakuwakuen.co.jp
        tr
          th 連絡先／電子メール
          td order@wakuwakuen.com
        tr
          th 連絡先／TEL
          td 0995-62-3030
        tr
          th 販売価格帯
          td 3000円
            br
            | ※クレジットカードでお支払いの場合、表示される台湾ドルは参考価格となります。実際のお支払い金額は、ご利用のクレジットカードまたは口座銀行の定めるレートに基づきます。
        tr
          th 商品等の引き渡し時期（日数）・発送方法
          td ご注文受付より7営業日以内に発送いたします。（前払いの場合は入金確認後7営業日以内に発送いたします。）それ以上となる場合は予めメールにてご連絡します。
        tr
          th 代金の支払時期および方法
          td 
            span クレジットカードは決済時、後払いは商品到着後
        tr
          th 商品代金以外に必要な費用 ／送料、消費税等
          td 別途送料（重量に応じて）
        tr
          th 返品の取扱条件／返品期限、返品時の送料負担 または解約や退会条件
          td 「初期不良品」「注文以外の商品」などがお手元に届いた場合は、商品到着より7日以内でしたら返品・交換させていただきます。
            br
            | なお、以下の場合は返品・交換はお受けできませんのでご了承ください。
            br
            | ・一度開封された商品
            br
            | ・お客様が汚損、破損された商品
            br
            | ・商品到着より1週間以上経過した場合
            br
            | ・事前に返品、交換のご連絡がない場合
            br
            | ・お客様の個人的な事情による場合
            br
            | 「初期不良品」「注文以外の商品」などがお手元に届いた場合は、当社が送料を負担いたします。
            br
            | その他の返品・交換の場合の送料・手数料はお客様のご負担となります。
        tr
          th 不良品の取扱条件
          td 当社が原因による不良品の返品交換に応じます。
        tr
          th 定期購入の販売条件（キャンセル等）
          td 定期購入取り扱いなし

    table.lawTable(border="1")
      caption 基於特定商交易法之表示
      tbody
        tr
          th 賣方名稱
          td Wakuwakuen Co.,Ltd.
        tr
          th 賣方公司地點
          td 鹿児島県姶良市加治木町反土4-15-249，899-5231
        tr
          th 代表或營運負責人
          td 青木基暢
        tr
          th 代表或營運負責人（羅馬拼音）
          td Motonobu Aoki
        tr
          th 聯絡方式/日本官網
          td 
            a(href="http://wakuwakuen.co.jp") http://wakuwakuen.co.jp
        tr
          th 聯絡方式/台灣方面客服信箱
          td order@wakuwakuen.com
        tr
          th 聯絡方式/賣方公司日本電話
          td (+81) 99-562-3030
        tr
          th 銷售價格範圍
          td 3000日元
            br
            | ※信用卡付款時，顯示的台幣價格為參考價格。
            br
            | 實際的支付金額以使用的信用卡及帳號的銀行規定為基準。
        tr
          th 出貨等待時間/出貨方式
          td 購買日起7天以內發貨。（先付款時需在確認付款後起7天以內發貨。）超過7天發貨時會提前電子郵件聯繫您。
        tr
          th 付款方式
          td 信用卡：在結帳時完成刷卡。
            br
            | 後付款：收到商品之後，才付款的支付方式。
        tr
          th 產品價格以外的費用
          td 額外郵費（按重量計算）
        tr
          th 退貨條件及期限
          td 如果發生「商品的初期不良」及「發錯商品」等情況時，
            br
            | 請於商品送達7天內透過電子郵件與跨境退貨中心聯繫，
            br
            | 並盡快寄回商品，以利辦理退換貨 。
            br
            | 此外，以下情況時無法退貨及換貨，請注意。
            br
            | ・已拆封的商品
            br
            | ・消費者自身弄髒或者弄壞的商品
            br
            | ・沒有提前聯繫退貨或者換貨的情況
            br
            | ・由消費者個人因素導致的情況
            br
            | 如果您收到「商品的初期不良」或者「發錯商品」等情況時，
            br
            | 退換貨郵費由本網站承擔。
            br
            | 其他理由的退換貨運費及手續費由消費者個人承擔。
        tr
          th 不良品的處理條件
          td 有本公司承擔責任的商品接受退換貨。
        tr
          th 定期購的銷售條件（取消訂單等等）
          td 沒有定期購