header.l-header
  h1.l-header__logo
    a(href="/")
      img(src="/assets/img/logo.svg", alt="")
  
  .l-header__right
    ul.l-header__list
      li.l-header__item.only-pc 
        a(href="/") Top
      li.l-header__item.product-menu
        a(href="") Product
        ul.product-list
          li
            a(href="/lp01") 薩摩桑葉青汁
          li 
            a(href="/lp02") 薩摩桑葉茶
      li.l-header__item 
        a(href="") About

    .l-header__sns
      span
        img(src="/assets/img/ico_facebook.svg", alt="")
      span
        img(src="/assets/img/ico_insta.svg", alt="")
