.l-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 90px;
  background: $c_bg;

  @include media (sp) {
    height: 60px;
    align-items: center;
  }

  &__logo {
    padding: 0 0 6px 32px;

    @include media (tab) {
      padding: 0 0 3px 16px;
    }

    @include media (sp) {
      width: 140px;
      padding: 0;
    }
  }

  &__right {
    display: flex;
    align-items: flex-end;
    padding: 0 78px 18px 0;

    @include media (tab) {
      padding: 0 48px 18px 0;
    }

    @include media (sp) {
      padding: 0 10px 0 0;
    }

  }

  &__list {
    display: flex;
    justify-content: space-around;
    margin-right: 108px;

    @include media (tab) {
      margin-right: 50px;
    }
    @include media (sp) {
      margin-right: 10px;
    }
  }

  &__item {
    &:nth-of-type(2) {
      margin: 0 5px 0 20px;
      padding: 0 15px 0 0;

      @include media (sp) {
        margin: 0;
        padding: 0 10px;
      }
    }    
    &::before {
      content:'・';

      @include media (sp) {
        display: none;
      }

    }
  }

  &__sns {
    & > :first-child {
      margin-right: 20px;

      @include media (sp) {
        margin-right: 10px;
      }
    }

    & > span > img {
      @include media (sp) {
        width: 30px;
        height: 30px;
      }
    }
  }

}


.product-list {
  display: none;
  content: '';
  width: 140px;
  height: 90px;
  background: url('/assets/img/bg_product-list.png') no-repeat;
  // background-color: #fff;
  // padding: 5px 10px;
  // box-shadow: 0px 0px 4px 4px rgba(169,169,169,0.1); 
  // border-radius: 5%;
  position: absolute;
  top: 66px;
  padding-top: 14px;
  padding-left: 14px;
  
  left: calc(100% - 450px);

  @include media (tab) {
    left: calc(100% - 360px);
  }

  @include media (sp) {
    top: 42px;
    padding-top: 18px;
    padding-left: 18px;
    left: calc(100% - 240px);
  }

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: -25px;
  //   left: 50%;
  //   margin-left: -10px;
  //   border: 10px solid transparent;
  //   border-bottom: 15px solid #fff;
  // }

  & > li{
    &::before {
      content: '> ';
    }
    &:hover {
      color: $c_primary;
    }
  }
  
}

.product-menu {
  border-bottom: 2px solid #fff;

  &:hover {
    border-image: url('/assets/img/line_short.svg') 0 0 10 0 / 4px stretch;
    -webkit-border-image: url('/assets/img/line_short.svg') 0 0 10 0 / 4px stretch;

    & > .product-list {
      display: block;
    }
  }

}
